{% extends 'base.html.jinja2' %}

{% block title %}Index{% endblock %}

{% block content %}
  <h1>Index</h1>
  {% for article in articles %}
    <p>
      <a href="{{ article.url_for() }}">
        {{ article.title }}
      </a>
    </p>
  {% endfor %}
{% endblock %}
