<!doctype html>
<html>
  <head>
    <title>
      {% block title %}{% endblock %} | Link Box
    </title>
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="{{ url_for("articles.index")}}">Home</a>
        </li>
      </ul>
    </nav>
    {% block content %}{% endblock %}
  </body>
</html>
